
.appBody {
    background-color: #1f1f1f;
    height: 100vh;
    width: 100wh;
    overflow: hidden;
}

#board {
    background-color: darkred;
    margin: auto;
    border: 7px solid darkred;
    width: 720px;
    height: 720px;
}

#outer-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, 1fr);  /* 3 rows, each 100px tall */
    gap: 10px; /* spacing between items */
    width: 720px;
    height: 720px;
}

.inner-board {
    background-color: brown;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, 1fr);  /* 3 rows, each 100px tall */
    gap: 5px; /* spacing between items */
    background-color: burlywood;
    width: 200px;
    height: 200px;
}

.unmarked_square, .marked_square {
    background: radial-gradient(circle closest-side, rgba(165, 42, 42, 0), rgba(165, 42, 42, 1));
    background-color: rgba(165, 42, 42, 1);
    transition: background-color .7s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.X {
    color: green;
}

.O {
    color: blue;
}

/* Idea is that the selection cirlces are always present, but transparent (see select-circle).
    the keyframes slowly change the opacity using rgba */

.unmarked_square:hover {
    background-color: rgba(165, 42, 42, 0);
    transition: background-color 0.1s ease-out;
}
