.appBody {
    background-color: #2C3539;
    height: 100vh;
    width: 100vw; /* corrected from 'wh' to 'vw' */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#textBox {
    width: 576px;
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: ivory;
    position: relative;
    top: 30px;
}

#board {
    background-color: darkred;
    margin: auto;
    border: 6px solid darkred;
    width: 576px;
    height: 576px;
}

#outer-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    width: 576px;
    height: 576px;
}

.outerMark {
    position: absolute;
    width: 184px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.inner-board {
    position: relative;
    background-color: brown;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    background-color: burlywood;
    width: 160px;
    height: 160px;
    z-index: 0;
}

.unmarked_square, .marked_square {
    background: radial-gradient(circle closest-side, rgba(165, 42, 42, 0), rgba(165, 42, 42, 1));
    background-color: rgba(165, 42, 42, 1);
    transition: background-color .7s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.X {
    color: #EED382;
}

.O {
    color: #212226;
}

.unmarked_square:hover {
    background-color: rgba(165, 42, 42, 0);
    transition: background-color 0.1s ease-out;
}
